{% extends "admin/base.html" %}
{% set page_title="DJs" %}
{% block nav_admin_djs %}<li class="active"><a href="{{ url_for('admin.djs') }}">DJs</a></li>{% endblock %}

{% block content %}
<h1>DJs</h1>

<table class="table table-striped table-hover">
    <tr>
        <td colspan="4">
            <a href="{{ url_for('admin.dj_add') }}" class="btn btn-default">Add DJ</a>
        </td>
    </tr>
    <tr>
        <th>On-air Name</th>
        <th>Name</th>
        <th>Visible</th>
        <th>Actions</th>
    </tr>
{% for dj in djs %}
    <tr>
        <td>{{ dj.airname }}</td>
        <td>{{ dj.name }}</td>
        <td>{{ dj.visible }}</td>
        <td class="row-options">
            <a href="{{ url_for('admin.dj_edit', id=dj.id) }}" class="btn btn-default btn-sm">Edit</a>
        </td>
    </tr>
{% endfor %}
    <tr>
        <td colspan="4">
            <a href="{{ url_for('admin.dj_add') }}" class="btn btn-default">Add DJ</a>
        </td>
    </tr>
</table>
{% endblock %}
