{% extends "admin/base.html" %}
{% set page_title="Add User Role " %}
{% block nav_admin_roles %}<li class="nav-item active"><a class="nav-link" href="{{ url_for('admin.roles') }}">Roles</a></li>{% endblock %}

{% block content %}
<h1>Add User Role</h1>

<form method="post" class="form-horizontal" role="form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    
    <div class="form-group row{% if 'user' in error_fields %} has-error{% endif %}">
        <label for="id_user" class="col-sm-3 col-form-label control-label">User</label>
        <div class="col-sm-9">
            <input type="text" name="sub" id="id_sub"
                value="" required="required" class="form-control" />
        </div>
    </div>

    <div class="form-group row{% if 'role' in error_fields %} has-error{% endif %}">
        <label for="id_role" class="col-sm-3 col-form-label control-label">Role</label>
        <div class="col-sm-9">
            <select id="id_role" name="role" class="form-control">
                {% for role in roles %}
                <option value="{{ role }}">{{ role }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            <span class="oi oi-check"></span>
            Add User Role
        </button>

        <a href="{{ url_for('admin.roles') }}" class="btn btn-secondary">
            <span class="oi oi-x"></span>
            Cancel
        </a>
    </div>
</form>
{% endblock %}
