apscheduler
click
Flask
Flask-Caching
Flask-Migrate
flask-oidc
Flask-RESTful
Flask-SQLAlchemy
Flask-WTF
humanize
Markdown
netaddr
psycopg2
pyasn1
pyasn1-modules
PyMySQL
python-dateutil
python-editor
python-redis-lock
pytz
raven[flask]
redis
requests
sqlalchemy>=1.2.0
SQLAlchemy-Utils
Unidecode
-e git+https://github.com/wuvt/python-musicbrainzngs#egg=musicbrainzngs
