apscheduler
Authlib<13.0
blinker
click
Flask
Flask-Caching
flask-cors
flask-marshmallow
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy>=2.4
Flask-WTF
google-api-python-client
humanize
loginpass
Markdown
marshmallow-sqlalchemy
musicbrainzngs>=0.7.1
netaddr
psycopg2
pyasn1
pyasn1-modules
PyMySQL
python-dateutil
python-editor
pytz
redis
requests
sentry-sdk[flask]
sqlalchemy>=1.2.0
SQLAlchemy-Utils
Unidecode
