{% extends "public/base.html" %}
{% set page_title="Charts" %}
{% block nav_charts %}<li class="nav-item"><a class="nav-link active" href="{{ url_for('public.charts_index') }}">Charts</a></li>{% endblock %}

{% block content %}
<section>
    <header>
        <h2>Charts</h2>
    </header>

    {% for path, name in periodic_charts %}
    <ul>
        <li><a href="{{ url_for(path, period='weekly') }}">{{ name }} in the last week</a></li>
        <li><a href="{{ url_for(path, period='monthly') }}">{{ name }} of the month</a></li>
        <li><a href="{{ url_for(path, period='yearly') }}">{{ name }} of the year</a></li>
        <li><a href="{{ url_for(path) }}">{{ name }} of all time</a></li>
    </ul>
    {% endfor %}

    <ul>
        <li><a href="{{ url_for('public.charts_dj_spins') }}">Top DJs by spins</a></li>
        <li><a href="{{ url_for('public.charts_dj_vinyl_spins') }}">Top DJs by vinyl spins</a></li>
    </ul>
</section>
{% endblock %}
