{% extends "base.html" %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark trackman-header mb-2">
    <div class="navbar-header mr-sm-3">
        <span class="navbar-brand">{{ trackman_name }}</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#trackman-top-collapse" aria-controls="trackman-top-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="trackman-top-collapse">
        <span class="navbar-text trackman-dj-name">{{ dj.airname }}</span>

        <form class="navbar-form navbar-right ml-auto">
            <label class="checkbox-inline mr-sm-2">
                <input type="checkbox" name="email_playlist" value="true"
                    id="id_email_playlist" />
                Email me my playlist
            </label>

            <label class="checkbox-inline mr-sm-2">
                <input type="checkbox" name="extend_autologout"
                    id="id_extend_autologout" />
                Let me play longer songs
            </label>

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary" id="on_air_btn">
                    <span class="oi oi-bullhorn"></span>
                    On Air
                </button>

                <button type="button" class="btn btn-outline-warning" id="trackman_logout_btn">
                    <span class="oi oi-account-logout"></span>
                    Logout
                </button>
            </div>
        </form>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="text-center trackman-metadata-reminder p-2">
    <h4>
        <span class="oi oi-flag"></span>
        If you can't fill in the blanks, you can't play it.
    </h4>
    <p>You may find these sites helpful to find missing information:</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="http://www.allmusic.com/"
            rel="external noopener noreferrer"
            target="_blank">AllMusic</a></li>
        <li class="list-inline-item"><a href="http://www.amazon.com/music/"
            rel="external noopener noreferrer"
            target="_blank">Amazon.com Music</a></li>
        <li class="list-inline-item"><a href="http://www.discogs.com/"
            rel="external noopener noreferrer"
            target="_blank">Discogs</a></li>
        <li class="list-inline-item"><a
            href="http://musicbrainz.org/search.html"
            rel="external noopener noreferrer"
            target="_blank">MusicBrainz</a></li>
        <li class="list-inline-item"><a href="http://metal-archives.com" 
            rel="external noopener noreferrer"
            target="_blank">Metal Archives</a></li>
    </ul>
</div>

<div class="floating-alerts" id="trackman_alerts"></div> 

<div class="panel panel-default trackman-panel" id="trackman_playlist_panel">
    <table class='table table-condensed'>
        <thead title="This is a list of the tracks you've played. If you need to make any changes or corrections, you can do that here.">
            <tr>
                <th>Time</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Label</th>
                <th>Request</th>
                <th>Vinyl</th>
                <th>New</th>
                <th>Rotation</th>
                <th></th>
            </tr>
        </thead>
    </table>

    <div class="row-table">
        <table class='table table-condensed table-striped table-hover' id="playlist">
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="trackman-entry">
    <div class="row">
        <div class="form-group col-md-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="artist" class="input-group-text">Artist</label>
                </div>
                <input type="text" name="artist" id="artist" value="" class="form-control"
                    title="Enter the name of the artist for the track. If there is no clear artist listed, please use Various Artists as the artist."/>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="title" class="input-group-text">Title</label>
                </div>
                <input type="text" name="title" id="title" value="" class="form-control"
                    title="Enter the name of the track. Please log multiple tracks separately, even if they are on the same album."/>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="album" class="input-group-text">Album</label>
                </div>
                <input type="text" name="album" id="album" value="" class="form-control"
                    title="Enter the name of the release this track is on. For historical reasons, this is referred to as an album even if it is not."/>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="rlabel" class="input-group-text">Label</label>
                </div>
                <input type="text" name="rlabel" id="rlabel" value="" class="form-control"
                    title="Enter the record label for the release the track is on. Please be as specific as possible and include only one label; for example, use Sub Pop Records instead of the parent company, Warner Music Group."/>
            </div>
        </div>
    </div>
    <div class="row lookup-controls">
        <div class="col-md-4 col-form-label text-center">
            <label class="checkbox-inline mr-sm-2">
                <input type="checkbox" class="request" name="request"/>
                Request
            </label>
            <label class="checkbox-inline mr-sm-2">
                <input type="checkbox" class="vinyl" name="vinyl"/>
                Vinyl
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" class="new" name="new"/>
                New
            </label>
        </div>
        <div class="col-md-2">
            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="rotation" class="input-group-text">Rotation</label>
                        </div>
                        <select class="rotation form-control" id="rotation">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="btn-group">
                <button id="new-queue" class="btn btn-primary"
                    title="Add this track to the queue below so it can be easily logged later.">
                    <span class="oi oi-plus"></span>
                    Queue New Track
                </button>
                <button id="new-log" class="btn btn-secondary"
                    title="Immediately log this track.">
                    <span class="oi oi-media-play"></span>
                    Log New Track
                </button>
                <button id="clear-form" class="btn btn-secondary"
                    title="Clear the track entry form.">
                    <span class="oi oi-delete"></span>
                    Clear Form
                </button>
            </div>
        </div>
    </div>
</div>

<!--
<div class="control-panel">
    <div class="row psa-controls">
        <button id="new-queue" class="btn btn-primary">
            <span class="oi oi-plus"></span>
            Station ID
        </button>
        <button id="new-queue" class="btn btn-primary">
            <span class="oi oi-plus"></span>
            Statement of Ownership
        </button>
        <button id="new-log" class="btn btn-secondary">
            <span class="oi oi-media-play"></span>
            PSA
        </button>
        <button id="new-delay" class="btn btn-secondary">
            <span class="oi oi-timer"></span>
            Underwriting
        </button>
        <button id="new-delay" class="btn btn-secondary">
            <span class="oi oi-timer"></span>
            Promo
        </button>
        <button id="new-delay" class="btn btn-secondary">
            <span class="oi oi-timer"></span>
            Weather
        </button>
    </div>
</div>
-->

<div class="panel panel-default trackman-panel" id="trackman_queue_panel">
    <table class='table table-condensed'>
        <thead title="This is your queue. You can enter tracks ahead of time and access them from here. When you're ready to play them, just press their play button.">
            <tr>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Label</th>
                <th>Request</th>
                <th>Vinyl</th>
                <th>New</th>
                <th>Rotation</th>
                <th></th>
            </tr>
        </thead>
    </table>

    <div class="row-table trackman-queue">
        <table class='table table-condensed table-striped table-hover' id='queue'>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default trackman-panel" id="trackman_search_panel">
    <div class="panel-heading">
        <h3 class="panel-title">Search Results</h3>
    </div>

    <table class='table table-condensed'>
        <thead title="These are your track search results. When you start to enter track information, this section will update with similar tracks that are already in our database.">
            <tr>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Label</th>
                <th>Request</th>
                <th>Vinyl</th>
                <th>New</th>
                <th>Rotation</th>
                <th></th>
            </tr>
        </thead>
    </table>

    <div class="row-table trackman-search-results">
        <table class='table table-condensed table-striped table-hover' id="search">
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div id="report_modal" role="dialog" class="modal fade" tabindex="-1"
        aria-labelledby="report_modal_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="report_modal_label">
                    Report Track
                </h4>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Artist</th>
                                <th>Title</th>
                                <th>Album</th>
                                <th>Label</th>
                            </tr>
                        </thead>
                        <tbody id="report_modal_tbody">
                        </tbody>
                    </table>
                    <div class="form-group">
                        <label for="id_report_reason">
                            What's wrong with this track? How should it be fixed?
                        </label>
                        <input name="report_reason" id="id_report_reason" 
                            class="form-control" type="text"/>
                    </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
                <button id="report_submit_btn" class="btn btn-primary">
                    Report Track
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/trackman.js', v=19) }}"></script>
<script src="{{ url_for('trackman_private.log_js') }}"></script>
{% endblock %}
