{% extends "base.html" %}
{% set page_title="Show All DJs" %}
{% block nav_login_all %}<li class="nav-item"><a class="nav-link active" href="{{ url_for('trackman_private.login_all') }}">All DJs</a></li>{% endblock %}
{% block content %}
<div class="container">
<h2>DJ Login: All DJs</h2>

<form method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

    <div class="list-group">
        {% for dj in djs %}
        <button type="submit" name="dj" value="{{ dj.id }}" class="list-group-item btn-dark">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="list-group-item-heading">{{ dj.airname|wordwrap }}</h4>
                <span class="badge badge-primary badge-pill">
                    {%- if dj.visible -%}
                    Active
                    {%- else -%}
                    Inactive
                    {%- endif -%}
                </span>
            </div>

            <div class="d-flex">
                <p>Created <time datetime="{{ dj.time_added|isodatetime }}" data-format="YYYY-MM-DD HH:mm">{{ dj.time_added|datetime("%Y-%m-%d %H:%M") }}</time></p>
            </div>
        </button>
        {% endfor %}
    </div>
</form>
</div>
{% endblock %}
