{% extends "base.html" %}
{% block nav_login %}<li class="nav-item"><a class="nav-link active" href="{{ url_for('trackman_private.login') }}">Home</a></li>{% endblock %}
{% block content %}
<div class="container">
<h2>DJ Login</h2>

<form action="{{ url_for('trackman_private.login') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

    <div class="form-group">
        <select name="dj" class="form-control">
            <option value="">Select DJ</option>
            {% for dj in djs %}
            <option value="{{ dj.id }}">{{ dj.airname|truncate(50) }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-secondary">
        <span class="oi oi-account-login"></span>
        Login
    </button>

    {% if not automation %}
    <button type="button" class="btn btn-secondary" id="automation_btn">
        <span class="oi oi-media-play"></span>
        Start Automation
    </button>
    {% endif %}
</form>
</div>

<form action="{{ url_for('trackman_private.start_automation') }}" method="post" id="automation_start_form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
</form>
{% endblock %}
{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
